body {
  margin-top: 50px;
}

.svg-clip {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  margin:0 auto;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
