#clipped {
  background: url("images/beach1.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#clipped h1 {
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}

container-fluid.pusheen{
  position: absolute;
  left: 100px;
  top:100px;
}

div.container1{
  width: 70%; height: 100%;
  margin: 0px auto;
  overflow: hidden;
}

section.bio{
  margin: 0px auto;
  text-align: center;
  max-width: 500px;
  overflow: hidden;
  color: #333;
  font-weight: 300;
}
