#clipped {
  background: url("/images/beach.jpeg") no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.content {
  margin: 50px auto;
  text-align: center;
  max-width: 600px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav> li {
    float: none;
    display: inline-block;
}

.row{
  display:block;
  text-align:center;
  vertical-align: middle;
  height:75px;
  font-size: 18px;
}

a {
  color: #333;
}

i.fa{
  margin: 18px;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

#clipped h1 {
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin: 0;
  padding: 20px;
  font-size: 50px;
}

/*#alignPusheen{
  vertical-align: baseline;
  width: 100px;
  height:100px;
  margin: auto;
}*/

div.container1{
  width: 70%; height: 100%;
  margin: 0px auto;
  overflow: hidden;
}

section.bio{
  margin: 0px auto;
  text-align: center;
  max-width: 500px;
  overflow: hidden;
  color: #333;
  font-weight: 300;
}
