#clipped-title1 {
  background: url(../images/beach.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#clipped-title1 h1 {
  font-size: 200px;
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}

/*#clipped-title1 {
  color: red;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(/Users/laura/lalicari.github.io/images/beach.jpeg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}*/
