clipped-title1 {
  background: url("/Users/laura/lalicari.github.io/images/beach.jpeg");
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


/*clipped-title1 {
  color: red;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url('/Users/laura/lalicari.github.io/images/beach.jpeg') repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}*/
