/*
Tutorial Name: How to Create a Textured Text
Author: Samuel Dalusung
*/


/* GENERAL STYLES
-------------------------------------------------*/

body {
  background: #e0e0e0;
}

header h1 {
  font-size: 40px;
  font-family: Lato, sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  text-shadow: 0 0 0 rgba(0,0,0,.4);
  text-align: center;
  margin: 20px 0 0;
}

nav {
  margin: 20px auto;
  width: 250px;
}

nav a {
  background: #a4a4a4;
  display: inline-block;
  font-size: 15px;
  padding: 7px;
  text-decoration: none;
  color: #fff;
  font-family: Lato, sans-serif;
}

nav a.active,nav a:hover {
  background: #c2c2c2;
  color: #818181;
}



/* CONTAINERS
-------------------------------------------------*/

.container-clip {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #cdcdcd;
}

.container-mask {
  width: 960px;
  margin: 0 auto;
  background: url(../images/background.jpg);
  border: 2px solid #cdcdcd;
  padding: 60px;
}



/* CLIPPED CLASSES
-------------------------------------------------*/


#clipped-title1 {
  background: url(../images/lion.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: all 2s cubic-bezier(0.42,0,0.58,1);
  -moz-transition: all 2s cubic-bezier(0.42,0,0.58,1);
  -o-transition: all 2s cubic-bezier(0.42,0,0.58,1);
  transition: all 2s cubic-bezier(0.42,0,0.58,1);
}

#clipped-title1:hover {
  background: url(../images/lion-hover.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

#clipped-title2 {
  background: url(../images/jungle.jpg)no-repeat top center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

#clipped-title2:hover {
  -webkit-filter: opacity(0.3);
}



/* CLIPPED H1
-------------------------------------------------*/

#clipped-title1 h1 {
  font-size: 200px;
  font-family: Anton, sans-serif;
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}

#clipped-title2 h1 {
  font-size: 110px;
  font-family: Pacifico, sans-serif;
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin-top: -75px;
  padding: 0;
}


/* MASKED
-------------------------------------------------*/


#masked-image h1 {
  font-family: Oswald, sans-serif;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  border: 14px solid #fff;
  border-radius: .2em;
  text-align: center;
  margin: 0;
  display: block;
  -webkit-mask-image: url(../images/rough-texture.png);
  -webkit-transform: rotate(-4deg);
  -moz-mask-image: url(../images/rough-texture.png);
  -moz-transform: rotate(-4deg);
  -o-mask-image: url(../images/rough-texture.png);
  -o-transform: rotate(-4deg);
  mask-image: url(../images/rough-texture.png);
  transform: rotate(-4deg);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#masked-image h1:hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}



/*body {
  background: #e0e0e0;
}

header h1 {
  font-size: 40px;
  font-family: Lato, sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  text-shadow: 0 0 0 rgba(0,0,0,.4);
  text-align: center;
  margin: 20px 0 0;
}

.container-clip {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #cdcdcd;
}

#clipped-title1 {
  background: url(/Users/laura/lalicari.github.io/images/beach.jpeg) no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#clipped-title1 h1 {
  font-size: 200px;
  font-family: Anton, sans-serif;
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}*/

/*clipped-title1 {
  color: red;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(/Users/laura/lalicari.github.io/images/beach.jpeg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}*/
